<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Password Generator</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <nav class="navbar border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Random Password Generator</span>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>